data/*
assets/weights/*
evaluation/
mapmaster/models_backup/*

# Python
__pycache__/
*/__pycache__/*
*.py[cod]
*.pyc

# build artifacts
mapmaster/models/bev_decoder/deform_transformer/ops/build/
*.egg
*.so

